@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-danger {
  background-color: #dc3545;
}

.btn-info {
  background-color: #0dcaf0;
}

.btn-warning {
  background-color: #ffc107;
}

.btn-success {
  background-color: #198754;
}

/* ****** */

.container {
  padding: 0 2rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: red;
}
